body,
html {
  font-family: "Mukta", sans-serif;
  font-weight: 400;
  background: url("../images/vecteezy_airplane-icon-illustration-in-sky-view-of-a-flying_5390773.jpg")
    no-repeat center center fixed;
  background-size: cover;
  color: navy;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
  align-items: center;
}

h2 {
  text-align: center;
}

button {
  border-radius: 10rem;
  width: 8rem;
  padding: 2px;
  background-color: navy;
  color: white;
  font-weight: bolder;
  height: 2.5rem;
}

input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  justify-content: center;
}

.main__menu-text {
  padding-left: 2rem;
}

.logout-button {
  margin-right: 2rem;
}

.book-trip {
  background: rgba(255, 255, 255, 0.6);
  padding: 2rem;
  border-radius: 10rem;
}

.submit-password {
  height: 4rem;
}
.trip-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.trip-card {
  display: grid;
  grid-template-rows: max-content 6rem;
  background-color: #ffffff;
  width: 17rem;
}

.trip-card img {
  object-fit: cover;
  width: 100%;
  height: 12rem;
}

.trip-header {
  padding: 0 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trip-header h3 {
  margin-bottom: 1rem;
}

.trip-details {
  display: flex;
  flex-direction: row;
  padding-top: 3rem;
  justify-content: space-between;
  width: 100%;
}

.content {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 1rem;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}

.trip-card footer {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.category {
   width: 100%;
   margin-top: 0;
   padding: 0.25rem;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 0.5rem;
   border-radius: 0 0 0.5rem 0.5rem;
   font-weight: 700;
   color: #ffffff;
}

.past-category {
   background-color: #fbcbb9;
   color: #333333;
}

.upcoming-category {
   background-color: #990649;
}

.hidden {
  display: none;
}
